
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #333;
  color: white;
}

.jss507 {
  max-width: 80px; 
  height: auto; 
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-list li {
  margin: 0 10px;
}

.menu-icon {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: rgb(31, 3, 3);
  margin: 6px 0;
  transition: 0.4s;
}

/* Adjust styles for smaller screens */
@media only screen and (max-width: 600px) {
  .nav-list {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    background-color: #333;
    text-align: center;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }

  .nav-list.show {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .menu-icon {
    display: flex;
  }

  .header.menu-open {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-list li {
    margin: 10px 0;
  }

  .nav-list li a {
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    background-color: #555;
    transition: background-color 0.3s;
  }

  .nav-list li a:hover {
    background-color: #777;
  }

  .menu-icon .bar {
    background-color: rgb(66, 9, 9);
    width: 25px;
    height: 3px;
    margin: 5px 0;
    transition: 0.4s;
  }

  .menu-icon .bar.animate:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  .menu-icon .bar.animate:nth-child(2) {
    opacity: 0;
  }

  .menu-icon .bar.animate:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
  }
}

/* Adjust styles for larger screens (laptop size) */
@media only screen and (min-width: 601px) {
  .nav-list {
    display: flex;
    align-items: center;
  }

  .nav-list li {
    margin: 0 10px;
  }

  .menu-icon {
    display: none;
  }
}
