.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #333;
  color: white;
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-list li {
  margin: 0 10px;
}

.menu-icon {
  display: none; /* Initially hide the menu icon */
  flex-direction: column;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}

@media only screen and (min-width: 601px) {
  /* Apply border-radius to buttons on wider screens */
  .nav-list li a {
    border-radius: 5px;
  }

  /* Hide the menu icon on wider screens */
  .menu-icon {
    display: none;
  }

  /* Show the regular navigation list on wider screens */
  .nav-list {
    display: flex;
  }
}

@media only screen and (max-width: 600px) {
  /* Hide the regular navigation list on small screens */
  .nav-list {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    background-color: #333;
    text-align: center;
    border-radius: 10px; /* Add border radius */
    overflow: hidden; /* Hide overflow */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Add box shadow */
  }

  .nav-list.show {
    display: flex;
  }

  .menu-icon {
    display: flex; /* Show the menu icon on small screens */
  }

  .header.menu-open {
    /* Remove the height property and adjust other styles */
    flex-direction: column;
    align-items: flex-start;
  }

  /* Button styles */
  .nav-list li {
    margin: 10px 0;
  }

  .nav-list li a {
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
    border-radius: 5px; /* Add border radius */
    background-color: #555;
    transition: background-color 0.3s;
  }

  .nav-list li a:hover {
    background-color: #777;
  }

  .menu-icon .bar {
    /* Adjust styles for bars in the menu icon */
    background-color: white;
    width: 25px;
    height: 3px;
    margin: 5px 0;
    transition: 0.4s;
  }

  .menu-icon .bar.animate:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  .menu-icon .bar.animate:nth-child(2) {
    opacity: 0;
  }

  .menu-icon .bar.animate:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
  }

  .nav-list li {
    margin: 10px 0;
  }
  
  .nav-list li a {
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
    border-radius: 5px; /* Add border radius */
    background-color: #555;
    transition: background-color 0.3s;
  }
  
  .nav-list li a:hover {
    background-color: #777;
  }
}
